<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body>

    <nav class="navbar navbar-default" th:include="layout :: nav"></nav>

    <div class="container">

        <div id="toolbar">

            <div class="btn-group">
                <button class="btn btn-success" id="add-button">新增</button>
                <button class="btn btn-warning" id="fix-button">修改</button>
                <button class="btn btn-danger" id="delete-button">删除</button>
            </div>

        </div>

        <table id="itemTable" data-toolbar="#toolbar"></table>

    </div>
    <footer class="footer" th:include="layout :: footer"></footer>
</body>
<div th:replace="layout :: script"></div>
<script src="/pig/js/table.js"></script>
</html>